services:
  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
    networks:
      - microservices-network
    ports:
      - "8080:80"

  # Auth Service
  auth-service:
    build: ./auth-service
    container_name: auth-service
    depends_on:
      - auth-db
    networks:
      - microservices-network
    environment:
      - NODE_ENV=development
      - PORT=3001
      - MONGO_URI=mongodb://auth-db:27017/auth
      - JWT_SECRET=a-super-secret-jwt-key-that-is-long-and-secure
    ports:
      - "3001:3001"
    volumes:
      - ./auth-service:/app
      - /app/node_modules

  # Auth Database
  auth-db:
    image: mongo:6.0
    container_name: auth-db
    networks:
      - microservices-network
    volumes:
      - auth-data:/data/db
    ports:
      - "27017:27017"

  # Acad Service
  acad-service:
    build: ./acad-service
    container_name: acad-service
    depends_on:
      - acad-db
    networks:
      - microservices-network
    environment:
      - DB_HOST=acad-db
      - DB_PORT=5432
      - DB_NAME=acad_db
      - DB_USER=acaduser
      - DB_PASSWORD=acadpass
    ports:
      - "3002:3002"
    volumes:
      - ./acad-service:/app
      - /app/node_modules

  # Acad DB
  acad-db:
    image: postgres:13-alpine
    container_name: acad-db
    networks:
      - microservices-network
    environment:
      - POSTGRES_DB=acad_db
      - POSTGRES_USER=acaduser
      - POSTGRES_PASSWORD=acadpass
    volumes:
      - acad-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

networks:
  microservices-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  auth-data:
  acad-data:



#netstat -ano | findstr "LISTENING"